In [1]:
import pandas as pd

In [6]:
data = pd.read_csv(r"C:\Users\Ijas Ali.Machingal\Downloads\Traffic prediction datasetset.csv")
data

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,12:00:00 AM,10-10-2023,Tuesday,13,2,2,24,41,normal
1,12:15:00 AM,10-10-2023,Tuesday,14,1,1,36,52,normal
2,12:30:00 AM,10-10-2023,Tuesday,10,2,2,32,46,normal
3,12:45:00 AM,10-10-2023,Tuesday,10,2,2,36,50,normal
4,1:00:00 AM,10-10-2023,Tuesday,11,2,1,34,48,normal
...,...,...,...,...,...,...,...,...,...
2971,10:45:00 PM,09-11-2023,Thursday,6,0,2,34,42,normal
2972,11:00:00 PM,09-11-2023,Thursday,5,0,2,24,31,normal
2973,11:15:00 PM,09-11-2023,Thursday,11,2,2,32,47,normal
2974,11:30:00 PM,09-11-2023,Thursday,5,2,2,37,46,normal
2975,11:45:00 PM,09-11-2023,Thursday,10,1,0,25,36,normal

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               2976 non-null   object
 1   Date               2976 non-null   object
 2   Day of the week    2976 non-null   object
 3   CarCount           2976 non-null   int64
 4   BikeCount          2976 non-null   int64
 5   BusCount           2976 non-null   int64
 6   TruckCount         2976 non-null   int64
 7   Total              2976 non-null   int64
 8   Traffic Situation  2976 non-null   object
dtypes: int64(5), object(4)
memory usage: 209.4+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder

In [11]:
encoding = LabelEncoder()
data['Time'] = encoding.fit_transform(data['Time'])
data['Date'] = encoding.fit_transform(data['Date'])
data['Day of the week'] = encoding.fit_transform(data['Day of the week'])

In [12]:
data

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,16,9,5,13,2,2,24,41,normal
1,18,9,5,14,1,1,36,52,normal
2,20,9,5,10,2,2,32,46,normal
3,22,9,5,10,2,2,36,50,normal
4,24,9,5,11,2,1,34,48,normal
...,...,...,...,...,...,...,...,...,...
2971,7,8,4,6,0,2,34,42,normal
2972,9,8,4,5,0,2,24,31,normal
2973,11,8,4,11,2,2,32,47,normal
2974,13,8,4,5,2,2,37,46,normal
2975,15,8,4,10,1,0,25,36,normal

In [19]:
data.isna().sum()

Time                 0
Date                 0
Day of the week      0
CarCount             0
BikeCount            0
BusCount             0
TruckCount           0
Total                0
Traffic Situation    0
dtype: int64

In [15]:
data1 = data.drop(['Traffic Situation'],axis = 1)
data1

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total
0,16,9,5,13,2,2,24,41
1,18,9,5,14,1,1,36,52
2,20,9,5,10,2,2,32,46
3,22,9,5,10,2,2,36,50
4,24,9,5,11,2,1,34,48
...,...,...,...,...,...,...,...,...
2971,7,8,4,6,0,2,34,42
2972,9,8,4,5,0,2,24,31
2973,11,8,4,11,2,2,32,47
2974,13,8,4,5,2,2,37,46
2975,15,8,4,10,1,0,25,36

In [16]:
data2 = data['Traffic Situation']
data2

0       normal
1       normal
2       normal
3       normal
4       normal
         ...
2971    normal
2972    normal
2973    normal
2974    normal
2975    normal
Name: Traffic Situation, Length: 2976, dtype: object

In [17]:
data2.value_counts()

Traffic Situation
normal    2065
heavy      455
low        282
high       174
Name: count, dtype: int64

In [21]:
data['Traffic Situation'] = encoding.fit_transform(data['Traffic Situation'])

In [22]:
data.corr()

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
Time,1.000000e+00,1.641825e-16,1.240163e-16,0.494000,0.313432,0.318149,-0.309261,0.475939,-0.249799
Date,1.641825e-16,1.000000e+00,-1.204133e-01,-0.007097,0.008555,0.013493,0.018557,0.001858,0.006002
Day of the week,1.240163e-16,-1.204133e-01,1.000000e+00,0.006252,-0.063835,0.104520,-0.071495,-0.000717,0.036486
CarCount,4.940004e-01,-7.096757e-03,6.251858e-03,1.000000,0.715423,0.626003,-0.619319,0.976071,-0.673033
BikeCount,3.134317e-01,8.555395e-03,-6.383547e-02,0.715423,1.000000,0.542872,-0.598063,0.774003,-0.539054
BusCount,3.181491e-01,1.349293e-02,1.045204e-01,0.626003,0.542872,1.000000,-0.538411,0.714436,-0.508420
TruckCount,-3.092608e-01,1.855685e-02,-7.149461e-02,-0.619319,-0.598063,-0.538411,1.000000,-0.536888,0.358264
Total,4.759390e-01,1.858384e-03,-7.168954e-04,0.976071,0.774003,0.714436,-0.536888,1.000000,-0.695951
Traffic Situation,-2.497986e-01,6.002192e-03,3.648610e-02,-0.673033,-0.539054,-0.508420,0.358264,-0.695951,1.000000

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data1,data2, test_size = 0.2, random_state = 42)
X_train,X_test,y_train,y_test

(      Time  Date  Day of the week  CarCount  BikeCount  BusCount  TruckCount  \
 1557    58    25                4        62          5         3          26
 509     74    14                3       137         24        25           8
 2044    72    30                5        98         15        11          15
 1847    62    28                3       104         29        19          13
 2097    83    30                5        71          8        13          28
 ...    ...   ...              ...       ...        ...       ...         ...
 1638    28    26                0         8          2         1          40
 1095    94    20                2        36          6        24          20
 1130    69    20                2        68         20         9          22
 1294    12    22                1        52          2         5          29
 860      9    17                6         7          0         2          35

       Total
 1557     96
 509     194
 2044    139
 1847    165
 2097    120
 ...     ...
 1638     51
 1095     86
 1130    119
 1294     88
 860      44

 [2380 rows x 8 columns],
       Time  Date  Day of the week  CarCount  BikeCount  BusCount  TruckCount  \
 2404    24     3                2        12          2         0          34
 2866    85     7                6        60          4        20          31
 2775    95     6                5        13          2         2          26
 507     70    14                3       109         22        13           8
 1825    18    28                3         5          2         1          21
 ...    ...   ...              ...       ...        ...       ...         ...
 2040    64    30                5        86         22        10          12
 2617    66     5                1       134         18        14           6
 678     28    16                5         7          2         0          22
 605     74    15                1       130         16        10          15
 1343    15    22                1         7          1         0          27

       Total
 2404     48
 2866    115
 2775     43
 507     152
 1825     29
 ...     ...
 2040    130
 2617    172
 678      31
 605     171
 1343     35

 [596 rows x 8 columns],
 1557    normal
 509      heavy
 2044    normal
 1847    normal
 2097    normal
          ...
 1638    normal
 1095    normal
 1130    normal
 1294    normal
 860     normal
 Name: Traffic Situation, Length: 2380, dtype: object,
 2404    normal
 2866      high
 2775    normal
 507     normal
 1825    normal
          ...
 2040    normal
 2617     heavy
 678     normal
 605      heavy
 1343    normal
 Name: Traffic Situation, Length: 596, dtype: object)

In [28]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9144295302013423

In [29]:
model1 = SVC(kernel='linear')
model1.fit(X_train,y_train)
model1.score(X_test,y_test)

0.9060402684563759

In [30]:
model2 = SVC(kernel='poly')
model2.fit(X_train,y_train)
model2.score(X_test,y_test)

0.87751677852349

In [31]:
model3 = SVC(kernel='rbf')
model3.fit(X_train,y_train)
model3.score(X_test,y_test)

0.9144295302013423

In [32]:
from sklearn.linear_model import LogisticRegression
model4 = LogisticRegression()
model4.fit(X_train,y_train)
model4.score(X_test,y_test)

C:\Users\Ijas Ali.Machingal\anaconda3\envs\tensernew\Lib\site-packages\sklearn\linear_model\_logistic.py:470: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7969798657718121

In [33]:
from sklearn.tree import DecisionTreeClassifier
model5 = DecisionTreeClassifier()
model5.fit(X_train,y_train)
model5.score(X_test,y_test)

0.9949664429530202

In [34]:
from sklearn.ensemble import RandomForestClassifier
model6 = RandomForestClassifier()
model6.fit(X_train,y_train)
model6.score(X_test,y_test)

0.9966442953020134